@use '@site/src/css/variables' as v;

.author {
  color: v.$source-text-color;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  html[data-theme='dark'] & {
    color: v.$source-text-color-dark;
  }
}

//.remark & .type 正文注釋、段意、段旨
.remark {
  text-indent: 0;
  color: v.$remark-color;
  font-size: 1.2rem;
  font-family: cwTeXKai, DFKai-SB, KaiU, STKaiti, Serif;
  text-align: justify;
  .type {
    background-color: #e6e6e6;
    color: v.$remark-type-color;
    border: v.$remark-type-color solid 1px;
    border-radius: 6px;
    padding: 0.2rem;
  }
  html[data-theme='dark'] & {
    color: v.$remark-color-dark;
  }
}

// Annotate 正文字詞釋義 Tooltip
.Tooltip {
  background-color: v.$annotate-color;
  margin-left: 1px;
  margin-right: 1px;
}

// 文檔 Youtube 影片大小
.videoResponsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
