@use '@site/src/css/variables' as v;

//.remark & .type 正文注釋、段意、段旨
.remark {
  text-indent: 0;
  color: v.$remark-color;
  font-size: 1.2rem;
  font-family: cwTeXKai, DFKai-SB, KaiU, STKaiti, Serif;
  text-align: justify;
  .type {
    background-color: #e6e6e6;
    color: v.$remark-type-color;
    border: v.$remark-type-color solid 1px;
    border-radius: 6px;
    padding: 0.2rem;
  }
  html[data-theme='dark'] & {
    color: v.$remark-color-dark;
  }
}

// Annotate 正文字詞釋義 Tooltip
.Tooltip {
  background-color: v.$annotate-color;
  margin-left: 1px;
  margin-right: 1px;
}

// 文檔 Youtube 影片大小
.videoResponsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.TextBlock {
  margin-bottom: var(--ifm-leading);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  color: rgb(57, 58, 52);
  background-color: rgb(246, 248, 250);
  html[data-theme='dark'] & {
    color: rgb(191, 199, 213);
    background-color: rgb(41, 45, 62);
  }
  .title {
    border-bottom: 1px solid var(--ifm-color-emphasis-300);
    font-size: var(--ifm-code-font-size);
    padding: 0.75rem var(--ifm-pre-padding);
    font-family: 'SmallCaps';
  }
  .content {
    padding: var(--ifm-pre-padding);
    font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
      var(--ifm-font-family-monospace);
    p:last-child {
      margin-bottom: 0;
    }
  }
}
