.button {
  html[data-theme='dark'] & {
    border-color: rgba(102, 187, 106, 0.7);
    color: rgb(102, 187, 106);
  }
}

.Commentary_Panel {
  display: flex;
  justify-content: flex-end;
  .button {
    display: inline-block;
  }
}
