.Game {
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  min-height: 12.5rem;
  height: min-content;
  padding: 1.25rem;
  box-shadow: var(--ifm-global-shadow-lw);
  display: flex;
  justify-content: space-evenly;
}

.QuestionSection {
  width: 100%;
}

.QuestionCount {
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
}

.QuestionText {
  margin-bottom: 0.75rem;
  margin-right: 2rem;
}

.AnswerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ScoreSection {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
  button {
    justify-content: center;
  }
}

.btn {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: var(--ifm-button-font-weight);
  text-align: left;
  color: var(--ifm-color-gray-900);
  background-color: var(--ifm-color-secondary);
  border: var(--ifm-button-border-width) solid var(--ifm-color-secondary);
  border-radius: var(--ifm-button-border-radius);
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--ifm-color-secondary-dark);
  }
}
