@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:ital,wght@0,600;1,500&display=swap');

.title {
  font-size: 3rem;
  width: max-content;
  margin: 0 auto 3rem;
  box-shadow: 0 2px 0 var(--ifm-color-primary),
    0 4px 0 var(--ifm-color-primary-contrast-background),
    0 6px 0 var(--ifm-color-primary);
  color: var(--ifm-heading-color);
}

.buttons {
  display: block;
  max-width: max-content;
  color: #fff !important;
  background: #0ac2a3;
  margin: 2rem auto 4rem;
  box-shadow: 0 10px 20px rgb(10 194 163 / 30%);
}

.blockquote {
  position: relative;
  padding: 2.5em 2.4em 1em;
  background: var(--ifm-card-background-color);
  font-size: 1.2rem;
  border: 2px solid var(--ifm-color-info-light);
  border-radius: 7px;
  box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);
  text-align: center;

  &::after {
    content: '❝';
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.3em;
    height: 1.3em;
    color: var(--ifm-color-primary);
    background: white;
    box-shadow: 0 4px 5px -1px hsla(0 0% 0% / 20%);
    border-radius: 50%;
    font-size: 1.6em;
  }

  .chinese {
    font-family: WenKai;
    font-weight: 600;
    word-break: keep-all;
  }

  .english {
    font-family: Vollkorn;
    font-style: italic;
  }

  cite.source {
    margin-top: 2rem;
    font: bold 0.9rem Open Sans, KaiTi, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }
}
