.heroBanner {
  padding: 4rem 10rem;
  /* text-align: center; */
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.title {
  font-size: 3.5rem;
  color: #448fff;
}

.subtitle {
  font-size: calc(1.5rem + 3px);
  text-align: left;
  word-break: keep-all;
}

@media screen and (max-width: 495px) {
  .subtitle {
    text-align: center;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 calc(var(--ifm-spacing-horizontal) * -1);
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.wrapper {
  position: relative;
}

.sketch {
  position: absolute;
  width: 100%;
  top: 0;
  stroke: black;
}

.sketch path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 2s ease;
}

@-webkit-keyframes svgDraw {
  to {
    stroke-dashoffset: 251;
  }
}

@keyframes svgDraw {
  to {
    stroke-dashoffset: 251;
  }
}

.wrapper img {
  width: 500px;
  height: auto;
  display: block;
  opacity: 0;
  transition: opacity 2s ease-out;
}

.wrapper:hover .sketch path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1001;
  -webkit-animation: none;
  animation: none;
}

.wrapper:hover img {
  opacity: 1;
}


path[data-name="4_px"] {
  stroke-dasharray: 250;
  -webkit-animation: svgDraw 2s ease alternate infinite;
  animation: svgDraw 2s ease alternate infinite;
}

html[data-theme="dark"] svg {
  stroke: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

html[data-theme="dark"] .heroPrimary {
  background-color: var(--ifm-background-color);
  color: #f6f3ee;
}

.heroPrimary {
  background-color: var(--ifm-background-color);
  color: #1e0d26;
}

.heroButton {
  color: #fff !important;
  background: #0ac2a3;
  box-shadow: 0 10px 20px rgb(10 194 163 / 30%);
}