.Hint {
  cursor: default;
  min-width: 10px;
  color: #999;
  font-size: 10px;
  user-select: none;
  position: absolute;
  right: 15px;
}

@media only screen and (max-width: 800px) {
  .Hint {
    position: absolute;
    right: 15px;
    bottom: -25px;
  }
}

.ShowHint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    color: var(--ifm-color-primary);
  }
}

.HintAnswer {
  color: var(--ifm-color-primary);
  background-color: rgba(97, 97, 97, 0.92);
  & .HintAnswerItem {
    padding: 3px 6px;
    margin-top: 3px;
    border: 1px dotted #333;
    color: #c4e0f9;
  }
}
