.Container {
  margin-bottom: 1.25rem;
  border-radius: 0.4rem;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #f6f8fa;
  border: 1px solid transparent;
  html[data-theme='dark'] & {
    background-color: #282a36;
  }
}

.Question {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  font-size: var(--ifm-code-font-size);
  padding: 0.75rem var(--ifm-pre-padding);
  &::before {
    content: attr(data-before);
  }
}

.Answers {
  padding: var(--ifm-pre-padding);
  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
    var(--ifm-font-family-monospace);
  p:last-of-type {
    margin-bottom: calc(
      var(--ifm-paragraph-margin-bottom) - var(--ifm-pre-padding)
    );
  }
}

.Content {
  &::before {
    content: attr(data-before);
    color: #36acaa;
    html[data-theme='dark'] & {
      color: #8d93f9;
    }
  }

  &::after {
    content: attr(data-after);
    color: #999;
  }
}

.Option {
  color: #36acaa;
  html[data-theme='dark'] & {
    color: #8d93f9;
  }
}

.isCorrect {
  color: #e31163;
  &::before {
    color: #e31163;
  }
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 calc(var(--ifm-pre-padding) * -1) var(--ifm-paragraph-margin-bottom);
  padding: 0 var(--ifm-pre-padding);
  html[data-theme='dark'] &,
  html[data-theme='dark'] &::before {
    color: #ff79c6;
  }
}

.Comment {
  color: #999;
  html[data-theme='dark'] & {
    color: #6272a4;
  }
}
