.Quiz {
  display: flex;
  justify-content: space-evenly;
  height: min-content;
  min-height: 12.5rem;
  padding: 1.25rem;
  border: 1px solid var(--ifm-table-border-color);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  background-color: var(--ifm-card-background-color);
}

.Question {
  width: 100%;
  margin-right: 2rem;
}

.Selection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Score {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
  button {
    justify-content: center;
  }
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: var(--ifm-button-font-weight);
  text-align: left;
  color: var(--ifm-color-gray-900);
  background-color: var(--ifm-color-secondary);
  border: var(--ifm-button-border-width) solid var(--ifm-color-secondary);
  border-radius: var(--ifm-button-border-radius);
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  &:not([disabled]):hover {
    background-color: var(--ifm-color-secondary-dark);
  }
  &[disabled] {
    cursor: default;
    color: #888;
  }
}

.CorrectOption {
  color: #0070f3;
  display: flex;
  align-items: center;
}

.WrongOption {
  color: #e00;
  display: flex;
  align-items: center;
}
