.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  height: 100%;
  width: 100%;
  max-width: 220px;
}

.grade {
  text-decoration: none;
  color: var(--ifm-heading-color);
}