@use '@site/src/css/variables' as v;

.Author {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  color: v.$source-text-color;
  margin-bottom: 1.5rem;
  html[data-theme='dark'] & {
    color: v.$source-text-color-dark;
  }
}

.AuthorPicture {
  width: 3rem;
  height: 3rem;
  max-width: 100%;
  margin: 0;
  border-radius: 9999px;
  vertical-align: middle;
}

.AuthorContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .AuthorTitle {
    line-height: 1.25;
  }

  .AuthorSubtitle {
    margin-top: 0.25rem;
  }
}
