@use '@site/src/css/variables' as v;

.author {
  color: v.$source-text-color;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
  html[data-theme='dark'] & {
    color: v.$source-text-color-dark;
  }
}

.authorInline {
  align-items: baseline;
  display: inline-flex;
  margin-left: 0.25rem;
}

.avatarInline {
  border-radius: 9999px;
  align-self: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
  max-width: 100%;
}