html[data-theme='dark'] .button {
  color: rgb(144, 202, 249);
  border: 1px solid rgba(144, 202, 249, 0.7);
}

.answerBlock {
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
  font-size: var(--ifm-code-font-size);
  padding: 0.75rem var(--ifm-pre-padding);
  color: #393a34;
  background-color: #f6f8fa;
  html[data-theme='dark'] & {
    color: #f8f8f2;
    background-color: #282a36;
  }

  & p:last-child {
    margin-bottom: 0;
  }
}

.closeAnswer {
  position: absolute;
  top: -12px;
  right: -12px;
  color: white;
  background-color: #999;
  border-radius: 12px;
  cursor: pointer;
}
