@font-face {
  font-family: WenKai;
  src: url(/src/font/WenKai.ttf);
  font-display: swap;
}
@font-face {
  font-family: KaiTi;
  src: url(/src/font/KaiTi.woff2);
  font-display: swap;
}

@font-face {
  font-family: Zihun67;
  src: url(/src/font/Zihun67.ttf);
  font-display: swap;
}

@font-face {
  font-family: SmallCaps;
  src: url(/src/font/Fontin-SmallCaps.otf);
  font-display: swap;
}
