$py-circle-color: dodgerblue;
$pre-text-color: #006c6c;
$pre-text-color-dark: #b8d8ba;
$source-text-color: #774e24;
$source-text-color-dark: #fce762;
$remark-color: #337357;
$remark-color-dark: #b0c592;
$annotate-color: rgba(252, 221, 188, .5);
$remark-type-color: #301a4b;
$task-list-block-color: #393a34;
$task-list-block-color-dark: #f8f8f2;
$task-list-block-background-color: #f6f8fa;
$task-list-block-background-color-dark: #282a36;
$task-list-correct-answer-color: #e31163;
$task-list-correct-answer-color-dark: #ff79c6;
$task-list-correct-answer-comment-color: #999988;
$task-list-correct-answer-comment-color-dark: #6272a4;
$task-list-correct-answer-option-color: #36acaa;
$task-list-correct-answer-option-color-dark: #8d93f9;
