@use 'variables' as v;

@font-face {
  font-family: WenKai;
  src: url(/src/font/WenKai.ttf);
  font-display: swap;
}
@font-face {
  font-family: KaiTi;
  src: url(/src/font/KaiTi.woff2);
  font-display: swap;
}

@font-face {
  font-family: Zihun67;
  src: url(/src/font/Zihun67.ttf);
  font-display: swap;
}

@font-face {
  font-family: SmallCaps;
  src: url(/src/font/Fontin-SmallCaps.otf);
  font-display: swap;
}

:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;
  --ifm-code-font-size: 95%;
}

li.breadcrumbs__item:not(:last-child) a.breadcrumbs__link {
  background: none;
}

.markdown {
  a:not(.hash-link) {
    background-color: rgba(187, 239, 253, 0.3);
    border-bottom: 1px solid var(--ifm-hr-border-color);
    color: var(--ifm-font-color-base);
    display: initial;
    line-height: calc(var(--ifm-font-size-base) + 4px);
  }

  // 字詞粵普讀音標示
  .py-circle {
    display: inline-block;
    color: v.$py-circle-color;
    font-size: 0.875em;
    width: 1.25rem;
    line-height: 125%;
    background-color: white;
    text-align: center;
    font-family: Tahoma;
    border: 1.5px solid v.$py-circle-color;
    border-radius: 100%;
  }

  // 引文／前文展現樣式
  .pre-text {
    font-size: 1.2rem;
    text-align: justify;
    color: v.$pre-text-color;
    font-family: FangSong, SimHei, SimSun;
    html[data-theme='dark'] & {
      color: v.$pre-text-color-dark;
    }
  }

  // 正文展現樣式
  .main-text {
    font-size: 1.7rem;
    font-family: KaiTi, DFKai-SB, KaiU, STKaiti, Serif;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.2;
    margin: 1.8rem 0;
  }

  h1:first-child {
    margin-top: 1rem;
    span[data-annotation] {
      position: relative;
      &::before {
        content: attr(data-annotation);
        position: absolute;
        width: 100%;
        top: -1em;
        text-align: center;
        font-size: 50%;
        color: v.$pre-text-color;
        html[data-theme='dark'] & {
          color: v.$pre-text-color-dark;
        }
      }
    }
  }

  .poetry {
    font-family: WenKai;
    line-height: 2;
    word-break: keep-all;
    text-overflow: ellipsis;
  }

  // 語譯／比較閱讀／延伸閱讀樣式
  .translation-text {
    font-size: 1.2em;
    text-align: justify;
    text-indent: 2em;
  }

  // 文章來源樣式
  .source-text {
    color: v.$source-text-color;
    text-align: right;
    margin-bottom: 1.5rem;
    display: block;
    html[data-theme='dark'] & {
      color: v.$source-text-color-dark;
    }
  }

  .admonition-heading h5 {
    font-family: SmallCaps, var(--ifm-heading-font-family);
  }
}

// ### 標題對齊 ## Emoji
ul.table-of-contents li ul {
  padding-left: 0.8rem;
}

@media (min-width: 997px) {
  button[title='Collapse sidebar'] {
    border-bottom: 0;
  }
}

.card-container {
  align-items: center;
  background-color: var(--ifm-color-black-alpha-05);
  border-radius: var(--ifm-global-radius);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

blockquote {
  text-align: justify;
}

h1,
.hero__subtitle {
  font-family: WenKai;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  html[data-theme='dark'] & {
    background-color: rgba(0, 0, 0, 0.3);
    --text-color-pre: blue;
  }
}

// 右上角 Github 圖標
.header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
  html[data-theme='dark'] & {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
      no-repeat;
  }
}

// @media (min-width: 997px) {
.navbarCheatsheet {
  position: relative;
  &::before {
    content: 'Updating';
    position: absolute;
    top: -10px;
    right: 0px;
    padding: inherit;
    font-size: 0.7em;
    color: var(--ifm-color-primary);
  }
}
// }

footer.footer {
  padding: calc(var(--ifm-footer-padding-vertical) * 0.5)
    var(--ifm-footer-padding-horizontal);
  font-size: 0.8rem;
  color: #a4a4a4;
  background: var(--ifm-navbar-background-color);
  border-top: 1px solid var(--ifm-toc-border-color);
}

@media (min-width: 997px) {
  .featureText {
    margin-left: 4rem;
  }
}

@media (max-width: 996px) {
  .featureText {
    text-align: center;
    ul {
      list-style-type: none;
      margin-block-start: 0;
      padding-inline-start: 0;
    }
  }
}

.KeepAll {
  word-break: keep-all;
  text-overflow: ellipsis;
}
