:root {
  --ifm-color-primary: #247ba0;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;
  --ifm-code-font-size: 95%;
  --ifm-background-color: #fff;
  --ifm-font-color-base: #404756;
}

html[data-theme='dark'] {
  --ifm-background-color: #282c33;
  --ifm-color-primary: #38bdf6;
  --ifm-font-color-base: #ebecf0;
}

/* index */
html:not(.docs-wrapper) {
  scroll-behavior: smooth;
}

/* Doc theme */
html[class*='docs-doc-id-S1'] {
  --ifm-color-primary: #ec4899;
}

html[class*='docs-doc-id-S3'] {
  --ifm-color-primary: #6366f1;
}

h1:first-child {
  font-family: WenKai;
  margin-top: 1rem;
  span[data-annotation] {
    position: relative;
    &::before {
      content: attr(data-annotation);
      position: absolute;
      width: 100%;
      top: -1em;
      text-align: center;
      font-size: 50%;
      color: #006c6c;
      html[data-theme='dark'] & {
        color: #b8d8ba;
      }
    }
  }
}

.text-list {
  list-style: none;

  a {
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid #7dd3fc;
    &:hover {
      border-bottom-width: 2px;
    }
  }

  > p {
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 1rem;
    a {
      border-bottom: none !important;
      color: #0f172a;
      html[data-theme='dark'] & {
        color: #fff;
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding-left: 0;
    row-gap: 12px;
    li {
      list-style: none;
      flex: 0 0 25%;
      margin: 0;
      @media (max-width: 1300px) {
        flex: 0 0 calc(100% / 3);
      }
      @media (max-width: 840px) {
        flex: 0 0 50%;
      }
      @media (max-width: 568px) {
        flex: 0 0 100%;
      }
      p {
        margin: 0;
      }
      a {
        color: inherit;
      }
    }
  }
}

.markdown {
  img {
    display: block;
    margin: 0 auto;
  }

  table {
    table-layout: fixed;
    display: table;
    text-align: center;
    width: 100%;
  }

  a:not([target='_blank']):not(.hash-link):not([class^='author']):not(.card):not(.text-list
      a) {
    color: #0f172a;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid #7dd3fc;
    &:hover {
      border-bottom-width: 2px;
      transition: none;
    }
    html[data-theme='dark'] & {
      color: #fff;
      border-bottom-color: #38bdf8;
    }
  }

  a[target='_blank']:not(.button) {
    background-color: rgba(187, 239, 253, 0.3);
    border-bottom: 1px solid var(--ifm-hr-border-color);
    color: var(--ifm-font-color-base);
    display: initial;
    line-height: calc(var(--ifm-font-size-base) + 4px);
    text-decoration: none;
    &:hover {
      background-color: #bbeffd;
      border-bottom-color: #1a1a1a;
    }
  }

  .video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: 1rem;
    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  h2#-字詞釋義,
  h2#-鞏固練習 {
    width: 0;
    margin: 0;
    font-size: 0;
    height: 0;
    padding: 0;
    visibility: hidden;
  }
}

// ### 標題對齊 ## Emoji
ul.table-of-contents li ul {
  padding-left: 0.8rem;
}

.ti-cursor {
  letter-spacing: 0 !important;
}

/* sidebar */

.theme-doc-sidebar-item-link-level-1 a,
.menu__list .menu__link--sublist {
  font-size: 16px !important;
  font-weight: 700 !important;
  padding: 5px 12px !important;
}

.theme-doc-sidebar-item-category-level-1 > .menu__list {
  border-left: 1px solid rgb(229, 231, 235);
  border-left: 1px solid var(--ifm-color-secondary-dark);
  padding-left: 0;
  margin-left: 16px;
  [aria-current='page'] {
    font-weight: 600 !important;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: -1px;
      top: 0px;
      width: 100%;
      height: 100%;
      border-left: 1px solid var(--ifm-menu-color-active);
    }
  }
}

/* Navbar */

//GitHub Logo
.header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
  html[data-theme='dark'] & {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
      no-repeat;
  }
}

.navbarCheatsheet {
  position: relative;
  &::before {
    content: 'Updating';
    position: absolute;
    top: -10px;
    right: 0px;
    padding: inherit;
    font-size: 0.7em;
    color: #57a773;
  }
}
