.button {
  all: unset;
}

.jypt {
  position: relative;
  margin: 0;
  max-width: 100%;
  font-size: 0.8125rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 16px;
  white-space: nowrap;
  -webkit-transition:
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition:
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  outline: 0;
  text-decoration: none;
  padding: 5px;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #b0b8c4;
  font-weight: 600;
  background-color: rgba(243, 246, 249, 0.5);
  color: #1c2025;
  border-color: #dae2ed;

  html[data-theme="dark"] & {
    border: 1px solid rgba(59, 74, 89, 0.5);
    background-color: rgba(31, 38, 46, 0.4);
    color: rgb(199, 208, 221);
  }

  &::before {
    content: "ç²µ";
    display: inline-block;
    color: dodgerblue;
    font-size: 0.875em;
    width: 1rem;
    line-height: 125%;
    background-color: white;
    text-align: center;
    border: 1.5px solid dodgerblue;
    border-radius: 100%;
    margin-right: 0.3rem;
  }
}

.pyCircle {
  display: inline-block;
  color: dodgerblue;
  font-size: 0.875em;
  width: 1.25rem;
  line-height: 125%;
  background-color: white;
  text-align: center;
  border: 1.5px solid dodgerblue;
  border-radius: 100%;
  margin-right: 0.3rem;
}
