@use "@site/src/css/variables" as v;

.remark {
  text-indent: 0;
  color: v.$remark-color;
  font-size: 1.2rem;
  font-family: cwTeXKai, DFKai-SB, KaiU, STKaiti, Serif;
  text-align: justify;
  &::before {
    content: attr(data-title);
    background-color: #e6e6e6;
    color: v.$remark-type-color;
    border: v.$remark-type-color solid 1px;
    border-radius: 6px;
    padding: 0.2rem;
  }
  html[data-theme="dark"] & {
    color: v.$remark-color-dark;
  }
}

.Section {
  font-size: 1.2em;
  text-align: "justify";
  margin: 1.8rem auto;
}
