.CollapseTitle {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  font-size: 14px;
}

.CollapseTitleIcon {
  color: gray;
  transition: 0.3s;
}

.CollapseTitleIconActive {
  color: var(--ifm-color-primary-contrast-foreground);
  transition: 0.3s;
  transform: rotate(180deg);
}

.CollapseContent {
  margin: 6px 0;
}

.ItemTitle {
  display: flex;
  align-items: center;
  width: 100%;
}

.ItemTitleCodeWrapper {
  display: flex;
  align-items: center;
  width: 80px;
}

.ItemTitleCode {
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 12px;
  margin-right: 10px;
}
